<!DOCTYPE html>
<html ng-app="testApp">
<head><title></title>
	<script src="bower_components\angular\angular.min.js"></script>
	<script src="bower_components\angular-sanitize\angular-sanitize.min.js"></script>
	<script src="ng-contextmenu.js"></script>
	<link rel="stylesheet" href="ng-contextmenu.css"></script>
	<script>
	var testApp = angular.module('testApp', ['ng-contextmenu']);
	testApp.controller('mainCtrl', ['$scope','$rootScope', 'ngContextmenuService', function($scope, $rootScope, contextMenu) {
		$scope.title = "Home";
		contextMenu.clickHandler = function(item, data) {
			window.open(item.href);
		};
		$scope.menuItems = [{title: 'Back', disabled:true}, {title: 'Forward', href: 'http://github.com/clintonpowell'}];
	}]);

	testApp.controller('altCtrl', ['$scope','$rootScope', 'ngContextmenuService', function($scope, $rootScope, contextMenu) {
		$scope.title = "Alt";
		contextMenu.clickHandler = function(item, data) {
			window.open(item.href);
		};
		$scope.menuItems = [{title: 'Back', disabled:true}, {title: 'Forward', href: 'http://github.com/clintonpowell'}];
	}]);

	</script>
</head>
<body ng-controller="mainCtrl">
	<h1 ng-contextmenu="menuItems">hi</h1>
	<div ng-controller="altCtrl" style="float:right">
		<h2 ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]" ng-contextmenu="menuItems" ng-contextmenu-data="x">hey</h2>
	</div>
	<div ng-controller="altCtrl" style="float:left">
		<h2 ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]" ng-contextmenu="menuItems" ng-contextmenu-data="x">hey</h2>
	</div>
	<div ng-contextmenu-container></div>
</body>
</html>